<template>
	<view> 
		<Loading v-if="loading"></Loading>
		
		<view v-else>
		
			<!-- 选择送餐或自取 -->
			<ShippintTypeContorl
			:current="currentShippingType" 
			styleType="text" 
			:values="items" 
			@clickItem="onChangeShippingType" 
			active-color="#FF8161"></ShippintTypeContorl>
			
			<PaymentShopInfo v-if="currentShippingType===1" 
			:shopDetail = "shopDetail"/>
			
			<PaymentDeliveryInfo v-else 
			:shopDetail = "shopDetail"
			:shipping_directions = "paymentInfo.shippingInfo.shipping_directions"
			:expectant_delivered_at = "paymentInfo.shippingInfo.expectant_delivered_at"
			:deliveryNote = "deliveryNote"
			@openNotePopup = "openNotePopup"/>
			
			<PaymentProductInfo 
			:cart = "cartLogic.getCart()" 
			:shopName = "shopDetail.naem" 
			@setOrderNote = "setOrderNote"/>
			
			<PaymentTipsInfo
			@tipsChange = "tipsChange"
			@tipInput = "tipInput"/>
			
			<PaymentPriceInfo
			:summary = "paymentInfo"/>
			
			<PaymentDiscountGroup
			:discountAmount = "paymentInfo.discount"
			:discount = "paymentInfo.discountGroup"
			@gotoCoupon = "gotoCoupon"/>
			
			<PaymentTypeCard
			:payment_types = "paymentInfo.payment_types"
			@paymentTypeChange = "paymentTypeChange"/>
			
			<view style="height: 300rpx;"></view>
			
			<PaymentPriceBar
			:totalPrice = "paymentInfo.getTotal()"
			:originalTotalPrice = "paymentInfo.getOrgTotal()"
			@placeOrder = "confirmOrder"/> 
			
			<NotePopup
			:showPopup = "showPopup"
			@closePopup = "openNotePopup"
			@setDeliveryNote = "setDeliveryNote"/>
			
			
			
		</view>

	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	import ShippintTypeContorl from "../components/ShippintTypeContorl.vue";
	import Loading from "../../components/Loading.vue";
	import PaymentShopInfo from "../components/PaymentShopInfo.vue";
	import PaymentDeliveryInfo from "../components/PaymentDeliveryInfo.vue";
	import PaymentProductInfo from "../components/PaymentProductInfo.vue";
	import PaymentPriceInfo from "../components/PaymentPriceInfo.vue";
	import PaymentDiscountGroup from "../components/PaymentDiscountGroup.vue";
	import PaymentTypeCard from "../components/PaymentTypeCard.vue";
	import PaymentPriceBar from "../components/PaymentPriceBar.vue";
	import PaymentTipsInfo from "../components/PaymentTipsInfo.vue";
	import NotePopup from "../components/NotePopup.vue";
	
	import {PaymentLogic} from "@/logic/PaymentLogic"; 
	import {MenuLogic} from "@/logic/MenuLogic";
	import {GlobalSetting} from "@/GlobalSetting";
	import {CartLogic} from "@/logic/CartLogic";
	import {DeliveryType} from "@/module/DeliveryType";
	import {PaymentInfo} from "@/module/PaymentInfo";
	import {ShopDetail} from "@/module/ShopDetail"; 
	import {CartResponse} from "@/module/CartResponse";
	import {CouponValidation, DiscountGroup} from "@/module/Coupon";
	import {PlaceOrderParams} from "@/module/PlaceOrderParams";
	 
	@Component({
		components: {
		  Loading,
		  ShippintTypeContorl,
		  PaymentShopInfo,
		  PaymentDeliveryInfo,
		  PaymentProductInfo,
		  PaymentPriceInfo,
		  PaymentDiscountGroup,
		  PaymentTypeCard,
		  PaymentPriceBar,
		  PaymentTipsInfo,
		  NotePopup
		}
	}) 
	export default class Payment extends Vue{
		private globalSetting: GlobalSetting = GlobalSetting.getInstance();
		private paymentInfo: PaymentInfo = new PaymentInfo();
		private paymentLogic: PaymentLogic = PaymentLogic.getInstance();
		private menuLogic: MenuLogic = MenuLogic.getInstance();
		private cartLogic: CartLogic = CartLogic.getInstance();
		
		private orderParams: PlaceOrderParams = this.paymentLogic.getOrderParams()
		private loading: boolean = true
		private showPopup: boolean = false
		private paymentType: string = ""
		private currentShippingType: number = 0
		private orderNote: string = ""
		private coupon_code: string = ""
		private items: string[] = ['外卖配送','到店自取']
		private deliveryNote: string = '点击添加'
		private shopDetail: ShopDetail = this.cartLogic.getShopDetail()
		
		onLoad(){
			this.checkEnablePickup()
			this.calCart()
			this.loading = false
		}
		
		confirmOrder(){
			if(!this.enablePlaceOrder()){
				return
			}
			
			uni.showModal({
				title: '订单确认',
				content: this.getConfirmText(),
				confirmColor: '#FF8161',
				success: (res) => {
					res.confirm ? this.placeOrder() : ''
				}
			})
		}
		
		placeOrder(){
			uni.showLoading({title: '处理中', mask: true})
			this.setOrderParams()
			this.paymentLogic.placeOrder()
			.then(res => {
				if(this.paymentType === 'wxpay'){
					this.snapPay(res.order_id)
				}else if(this.paymentType === 'onlinepay'){
					uni.navigateTo({url: '../CreditCardList/CreditCardList?from=confirm&order_id=' + res.order_id})
				}else{
					this.cashPay(res.order_id)
				}
			})
		}
		
		snapPay(orderId: number){
			this.paymentLogic.snapPay(orderId, this.globalSetting.getUserOpenId(), this.globalSetting.getAPPID())
			.then(res => {
				console.log(res)
				uni.reLaunch({
					url: '../OrderInfo/OrderInfo?order_id=' + orderId,
				})
			})
		}
		
		
		
		cashPay(orderId: number){
			uni.hideLoading()
			uni.showToast({
				title: '下单成功',
				duration: 3000,
				complete:function(){
					uni.reLaunch({
						url: '../OrderInfo/OrderInfo?order_id=' + orderId
					})
				}
			});
		}
		
		setOrderParams(){
			this.orderParams.shop_id = this.cartLogic.getShopId();
			this.orderParams.tips_amount = this.paymentInfo.tips;
			this.orderParams.tax_fee = this.paymentInfo.tax;
			this.orderParams.subtotal = this.paymentInfo.placeInfo.check_price;
			this.orderParams.promotion_code = this.paymentInfo.placeInfo.codes;
			this.orderParams.shipping_distance = this.paymentInfo.shippingInfo.distance;
			this.orderParams.shipping_fee = parseInt(this.paymentInfo.shippingInfo.shipping_fee);
			this.orderParams.shipping_type = this.paymentInfo.deliveryType
			this.orderParams.items = JSON.stringify(this.cartLogic.getCart());
			this.orderParams.contact = JSON.stringify(this.globalSetting.getContact());
			this.orderParams.comment = this.orderNote;
			this.orderParams.cart_id = this.paymentInfo.cart_id;
			this.orderParams.payment_type = this.paymentType;
			this.orderParams.order_type = "normal";
			this.orderParams.delivery_note = this.deliveryNote
			this.orderParams.customer_note = this.orderNote
		}
		
		enablePlaceOrder(){
			let res = true
			if(this.paymentType === ""){
				res = false
				this.showModel('请选择支付方式')
			}else if(this.paymentInfo.placeInfo.status !== 1){
				res = false
				this.showModel(this.paymentInfo.placeInfo.error)
			}
			return res
		}
		
		async calCart(){
			let res = await this.paymentLogic.calCart(this.shopDetail.mid, this.cartLogic.getDeliveryType(), 
			this.globalSetting.getContact().addr, this.cartLogic.getSubTotal(), this.coupon_code, 1, JSON.stringify(this.cartLogic.getCart()), 0)
			this.setPaymentInfo(res)
		}
		
		setPaymentInfo(data: CartResponse){
			let s = data.summary
			let discountG = DiscountGroup.iniDiscount(data.discount);
			this.paymentInfo.subtotal = s.subtotal;
			this.paymentInfo.org_subtotal = s.org_subtotal;
			this.paymentInfo.org_grand_total = this.roundTowDecimalNumber(s.org_subtotal + s.org_shipping_fee + s.subtotal_tax + s.shipping_tax);
			this.paymentInfo.grand_total = s.grand_total;
			this.paymentInfo.tax = s.tax;
			this.paymentInfo.discount = s.discount;
			this.paymentInfo.shippingInfo = data.delivery
			this.paymentInfo.discountGroup = discountG
			this.paymentInfo.serviceFeeDesc = s.service_fee_desc
			this.paymentInfo.serviceFee = s.service_fee
			this.paymentInfo.tips = this.paymentLogic.calTips(this.isDelivery() && !this.isSupplyChain() ? 15 : 0, s.org_subtotal + s.shipping_fee);
			this.paymentInfo.deliveryType = this.cartLogic.getDeliveryType();
			this.paymentInfo.totalWithoutTips = this.roundTowDecimalNumber(s.grand_total + this.paymentInfo.paymentFee);
			this.paymentInfo.placeInfo = data.place;
			this.paymentInfo.cart_id = data.cart_id;
			this.paymentInfo.payment_types = data.payment_types as any
			let gift = data.summary.product_gift ? data.summary.product_gift : ''
			this.cartLogic.setShopFullAmountGifts(gift);
			this.cartLogic.setCouponCode(data.place.codes ? data.place.codes : "");
			this.paymentLogic.setPaymentInfo(this.paymentInfo)
			console.log(this.paymentInfo)
		}
		
		tipsChange(persent: number){
			this.paymentInfo.tips = this.paymentLogic.calTips(persent, this.paymentInfo.org_subtotal + Number(this.paymentInfo.shippingInfo.shipping_fee));
		}
		
		tipInput(value: number){
			this.paymentInfo.tips = Number(value)
			console.log(this.paymentInfo)
		}
		
		isDelivery(){
			return this.currentShippingType === 0
		}
		
		isSupplyChain(){
		    return this.shopDetail.mid === this.globalSetting.getSupplyId()
		}
		
		setOrderNote(msg: string){
			this.orderNote = msg
		}
		
		roundTowDecimalNumber(price: number){
		     return Math.round(price * 100)/100
		}
		
		paymentTypeChange(params: any){
			this.paymentType = params.type
			this.paymentInfo.paymentFee = params.fee
		}
		
		gotoCoupon(){
			let shipping_type = this.currentShippingType === 0 ? 'delivery' : 'pickup'
			uni.navigateTo({
				url: '../CouponList/CouponList?from=payment&shop_id=' + this.shopDetail.mid + '&shipping_type=' + shipping_type
			})
		}
		
		//选择配送或者自取
		onChangeShippingType(e: any){
			if(!this.cartLogic.checkEnablePickup()){
				// 不支持自取
				return
			}
			if (this.currentShippingType !== e.currentIndex) {
				this.currentShippingType = e.currentIndex
				if (this.currentShippingType === 1) {
					this.cartLogic.setDeliveryType(DeliveryType.PICKUP)
					this.paymentInfo.tips = 0
				}else{
					this.cartLogic.setDeliveryType(DeliveryType.DELIVERY)
				}
			}
		}
		
		checkEnablePickup(){
			this.cartLogic.checkEnablePickup() ? '' : this.items[1] = '不支持自取'
		}
		
		showModel(msg: string){
			uni.showModal({
				title: '提示',
				content: msg,
				confirmColor: '#FF8161',
				showCancel: false,
			})
		}
		
		getConfirmText(){
			return this.currentShippingType===0 ? 
			'您的送餐地址: ' + this.globalSetting.getContact().addr + '. 是否确认下单？'
			: '该订单为自取订单，是否确认下单？'
		} 
		
		showMSG(msg: string){
			uni.showToast({
				icon: 'none',
				title: msg,
			})
		}
		
		openNotePopup(open: boolean){
			this.showPopup = open 
		}
		
		setDeliveryNote(note: string){
			let contact = this.globalSetting.getContact()
			let addrNote = ""
			if(contact.unit!==""){
				addrNote += "Unit: " + contact.unit
			}else if(contact.buzz_code!==""){
				addrNote += "Buzz code: " + contact.buzz_code
			}
			addrNote==="" ? '' : addrNote = "[" + addrNote + "]"
			this.deliveryNote = note + addrNote
		}
		
	}
</script>

<style>

</style>
