<template>
	<view>
		<view style="display: flex;justify-content: center;">
			<image class="img" src="../static/image/img.jpg" mode="aspectFit"></image>
		</view>
		
		<view class="card">
			<u-cell-group>
				<u-cell-item  title="网站地址" value="www.facedrive-foods.com"></u-cell-item>
				<u-cell-item  title="联系电话" value="647-624-7211"></u-cell-item>
				<u-cell-item  title="电子邮件" value="info@facedrive-foods.com"></u-cell-item>
				<u-cell-item  title="微信账号" value="foodhwycanada"></u-cell-item>
			</u-cell-group>
		</view>
	</view>
</template>

<script lang="ts">
	export default {
		data() {
			return {
				
			};
		}
	}
</script>

<style>
	.card {
		margin: 30rpx;
		border-radius: 30rpx;
		padding: 20rpx;
		box-shadow: 0px 0px 2px 2px #F0F0F0;
	}

	.img {
		width: 80%;
	}
</style>
