<template>
	<view>
		<Loading v-if="loading"></Loading>
		
		<view v-else style="padding: 30rpx 0rpx;">
			<!-- 步骤条 -->
			<u-steps style="margin: 40rpx 0rpx;" :list="stepList" :current="status" activeColor="#FF8161" mode="number"></u-steps>
			
			<OrderDetailCell
			:orderInfo = "orderDetail"
			@choosePaymentType = "choosePaymentType"
			@receipt = "receipt"/>
			
			<OrderProductInfo 
			:note = "orderDetail.customer_note"
			:orderItems = "orderDetail.order_items"/>
			
			<OrderPriceInfo
			:orderInfo = "orderDetail"/>
			
			<!-- 用户信息 -->
			<view v-if="orderInfo.shipping_type==='delivery'" class="card" style="padding: 20rpx 30rpx;">
				<text>预计出餐时间: {{orderDetail.expectant_delivered_at}}</text>
				<text style="margin: 10rpx 0rpx;">{{orderDetail.customer_addr}}</text>
				<text class="tel">{{orderDetail.customer_tel}}</text>
			</view>
			
			<!-- 优惠劵记录 -->
			<view class="topcard" v-if="orderDetail.coupon_logs.length!==0">
				<view class="record">优惠劵记录</view>
				<view style="padding: 20rpx 30rpx;">
					<view v-for="(item, index) in orderDetail.coupon_logs" :key="index">
						<text class="coupon">{{item}}</text>
					</view>
				</view>
			</view>
			
			<DriverInfo v-if="showMap"
			:shipping_directions = "orderDetail.shipping_directions"
			:orderInfo = "orderDetail"/>
			
			<!-- 留白 -->
			<view style="height: 100rpx;"></view>
			
			<!-- 底部弹出框 -->
			<u-popup v-model="show" mode="bottom" border-radius="30" closeable="true" width="100%" height="40%" close-icon-pos="top-left">
				<view class="receiptContainer">
					<text style="font-weight: 500;">请输入邮箱</text>
					
					<view class="couponInput">
						<input style="width: 550rpx;" v-model="email" type="text" cursor-spacing="180"/>
						
						<image v-show="email.length!==0" src="../../static/image/clear.png" class="icon"
						mode="aspectFit" @click="clearEmail"></image>
					</view>
					
					<view class="apply" @click="getReceipt">确定</view>
				</view>
			</u-popup>
			
		</view>
		
	</view>
</template>

<script lang="ts">
	import {Component, Vue, Prop, Watch} from "vue-property-decorator";
	import {GlobalSetting} from "@/GlobalSetting";
	import {OrderDetailLogic} from "@/logic/OrderDetailLogic";
	import {PaymentLogic} from "@/logic/PaymentLogic";
	import Loading from "../../components/Loading.vue";
	import OrderDetailCell from "../components/OrderDetailCell.vue";
	import DriverInfo from "../components/DriverInfo.vue";
	import OrderProductInfo from "../components/OrderProductInfo.vue";
	import OrderPriceInfo from "../components/OrderPriceInfo.vue";
	import {getNewOrderDetail, OrderDetail} from "@/module/OrderDetail";
	
	@Component({
		components: {
		  Loading,
		  OrderDetailCell,
		  DriverInfo,
		  OrderProductInfo,
		  OrderPriceInfo
		}
	})
	export default class OrderInfo extends Vue{
		private globalSetting: GlobalSetting = GlobalSetting.getInstance();
		private paymentLogic: PaymentLogic = PaymentLogic.getInstance();
		private orderDetailLogic = OrderDetailLogic.getInstance();
		private orderDetail: OrderDetail = getNewOrderDetail();
		private loading: boolean = true
		private show: boolean = false
		private showMap: boolean = false
		private email: string = ""
		private stepList: object[] = [{name: '已确认'}, {name: '出餐中'}, {name: '配送中'}, {name: '已完成'}, ]
		private status: number = -1
		
		onLoad(e: any){
			this.loading = true
			this.fetchOrderDetail(e.order_id)
		}
		
		fetchOrderDetail(order_id: number){
			this.orderDetailLogic.fetchOrderDetail(order_id)
			.then(() => {
				this.orderDetail = this.orderDetailLogic.getOrderDetail()
				this.getStatusForStepBar()
				this.showMap = true
				this.loading = false
				// console.log(this.orderDetail)
			})
		}
		
		choosePaymentType(value: string){
			console.log(value)
			uni.showLoading({title: '处理中', mask: true,})
			
			if(value === "0"){
				this.wechatPay()
			}else if(value === "1"){
				uni.hideLoading();
				uni.navigateTo({
					url: '../CreditCardList/CreditCardList?from=confirm&order_id=' + this.orderDetail.order_id
				})
			}
		}
		
		wechatPay(){
			this.paymentLogic.snapPay(this.orderDetail.order_id, this.globalSetting.getUserOpenId(), this.globalSetting.getAPPID())
			.then((res: any) => {
				console.log(res)
				if(res.result === 'success'){
					this.loading = true
					this.fetchOrderDetail(this.orderDetail.order_id)
				}
			})
		}
		
		getReceipt(){
			uni.showLoading({title: 'Loading...'})
			this.orderDetailLogic.sendReceipt(this.orderDetail.order_id, this.email)
			.then(res => {
				console.log(res)
				uni.hideLoading()
				this.show = false
				uni.showToast({
					title: '发送成功',
					icon: 'none'
				});
			})
		}
		
		receipt(){
			this.email = this.globalSetting.getUser().email
			this.show = true
		}
		
		clearEmail(){
			this.email = ""
		}
		
		getOrderStatus(status: number){
			return this.orderDetailLogic.getOrderStatus(status)
		}
		
		getPaymentStatus(status: number){
			return this.orderDetailLogic.getPaymentStatus(status)
		}
		
		// 判断订单状态
		getStatusForStepBar(){
			let status = this.orderDetail.status
			// console.log(status);
			if (status == 10){
				this.status = 0
			}else if(status==11 || status == 15){
				this.status = 1
			}else if(status == 12){
				this.status = 2
			}else if(status == 20){
				this.status = 3
			}
		}
		
	}
</script>

<style>
	
	.icon{
		height: 40rpx;width: 40rpx;
	}
	
	.receiptContainer{
		display: flex;
		flex-direction: column;
		padding: 30rpx;align-items: center;
	}
	
	.apply{
		background-color: #FF5722;
		color: #FFFFFF;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 90rpx;
		height: 80rpx;
		width: 250rpx;
	}
	
	.couponInput{
		margin: 60rpx 0rpx;
		padding: 10rpx 40rpx;
		border-radius: 30rpx;
		width: 600rpx;
		height: 80rpx;
		background-color: #F5F5F5;
		font-size: larger;
		font-weight: 600;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	
	.tel{
		font-size: small;color: #999999;font-weight: 300;
	}
	
	.card{
		margin: 40rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
		display: flex;
		flex-direction: column;
		border-radius: 10rpx;
	}
	
	.coupon{
		font-weight: 300;padding-bottom: 10rpx;
	}
	
	.record{
		background-color: #F5F5F5;padding: 20rpx 30rpx;font-weight: 500;
	}
	
	.line {
	    display:inline-block;
	    width:35%;
	    border-top:0.5px solid #cccccc;
	    vertical-align:5px;  
	}
	
	.confirmText {
		font-size: x-large;
		font-weight: 700;
		display: flex;
		justify-content: center;
		width: 100%;
	}
	
	.img{
		width: 40rpx;
		height: 40rpx;
	}
	
	.qty{
		background-color: #FF8161;
		color: #FFFFFF;
		border-radius: 6rpx;
		width: 30rpx;
		height: 30rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: small;
	}
	
	.input{
		margin-top: 20rpx;
		padding: 20rpx 30rpx;
		background-color: #F5F5F5;
	}
	
	.cartItem{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-top: 15rpx;
	}
	
	.topcard{
		margin: 40rpx 30rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
		display: flex;
		flex-direction: column;
		border-radius: 10rpx;
		padding-bottom: 20rpx;
	}
	
	.con{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 20rpx 0rpx;
		font-weight: 300;
		font-size: small;
	}
</style>
