<template>
	<view>
		<view style="display: flex;justify-content: center;">
			<image class="img" src="../static/image/img.jpg" mode="aspectFit"></image>
		</view>
		
		<view class="cont"> 
			<!-- 手机号 -->
			<view class="input">
				<input @input="phoneInput" focus="true" type="number" placeholder="请输入手机号码" v-model="phoneNumber" style="width: 90%;"/>
				<image v-show="phoneNumber.length!==0" src="../../static/image/clear.png" mode="aspectFit" class="clear"
				@click="clearTel"></image>
			</view>
			
			<!-- 验证码 -->
			<view class="row" style="margin-top: 40rpx;">
				<input @input="formatCode" v-model="code" :focus="codeFocus" class="input" style="width: 60%;" type="number" placeholder="请输入验证码" />
				<view v-if="showSend" class="codeBtn" @click="sendCode">获取验证码</view>
				<view v-else class="codeBtn" style="background-color: #DDDDDD;color: #000000;">重获({{second}}s)</view>
			</view>
		
			<view class="loginBtn" @click="login">
				登录
			</view>
		</view>
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	import {GlobalSetting} from "@/GlobalSetting";
	import {LoginLogic} from "@/logic/LoginLogic";
	
	@Component({})
	export default class Login extends Vue{
		private globalSettings = GlobalSetting.getInstance()
		private loginLogic = LoginLogic.getInstance()
		
		private testTel: string = '6479891678'
		private testPwd: string = '049054a56b'
		private phoneNumber: string = "";
		private showSend: boolean = true;
		private codeFocus: boolean = false;
		private code: string = "";
		private second: number = 30;
		
		login(){
			uni.showLoading({title: 'loading'})
			if(this.isTestPhone()){
				this.loginLogic.directLogin(this.testTel, this.testPwd)
				.then(e => {
					this.globalSettings.setUser(e)
					this.afterLogin()
				})
			}else{
				this.loginLogic.login(this.restorePhone(this.phoneNumber), this.code)
				.then(() => {
					this.afterLogin()
				})
			}
		}
		
		afterLogin(){
			uni.hideLoading();
			if (this.globalSettings.getUser().token) {
				this.showToast('登录成功')
				this.globalSettings.setUserStorage(this.globalSettings.getUser())
				setTimeout(() => uni.navigateBack({
					delta: 1
				}), 1000)
			} else {
				this.alert('验证码错误')
			}
		}
		
		sendCode(){
			let tel = this.restorePhone(this.phoneNumber)
			if (tel.length !== 10) {
				this.alert('输入的手机号码格式不正确')
				return;
			}
			uni.showLoading({title: 'loading'})
			this.setTimer()
			this.loginLogic.sentCode(tel)
			.then(() => {
				uni.hideLoading();
				this.showToast('已发送')
				this.codeFocus = true
			})
		}
		
		//格式化电话号码
		phoneInput(e: any){
			this.phoneNumber = this.phoneNumber.replace(/(\d{3})(\d{3})(\d{4})/, "($1)$2-$3");
		}
		
		//格式化验证码，限制4位
		formatCode(e: string) {
			this.code = this.code.substring(0, 4)
		}
		
		restorePhone(phone: string) {
			return phone.replace(/[^\d]/g, "");
		}
		
		// 做一个倒计时,让用户30秒后再获取验证码
		setTimer(){
			this.showSend = false
			this.second = 30
			var interval = setInterval(() => {
				--this.second
			}, 1000)
			setTimeout(() => {
				clearInterval(interval)
				this.showSend = true
			}, 30000)
		}
		
		isTestPhone(){
			return this.restorePhone(this.phoneNumber) === this.testTel
		}
		
		showToast(msg: string){
			uni.showToast({
				icon: 'none',
				title: msg
			})
		}
		
		alert(content: string){
			uni.showModal({
				showCancel: false,
				title: '提示',
				content: content,
			})
		}
		
		clearTel(){
			this.phoneNumber = ""
		}
		
	}
</script>

<style>
	.clear{
		height: 40rpx;width: 40rpx;padding-right: 20rpx;
	}
	
	.img {
		/* margin: 30rpx 0rpx; */
		/* margin-top: 30rpx; */
		width: 80%;
		height: 400rpx;
	}
	
	.cont {
		display: flex;
		flex-direction: column;
		margin: 0rpx 30rpx;
		padding: 0rpx 20rpx;
		height: 500rpx;
		justify-content: center;
		border-radius: 10rpx;
		box-shadow: 0px 0px 5px 2px #DDDDDD;
	}
	
	.input {
		display: flex;
		padding: 0rpx 30rpx;
		border-radius: 90rpx;
		height: 100rpx;
		width: 90%;
		background-color: #F0F0F0;
		align-items: center;
		justify-content: space-between;
	}
	
	.row {
		display: flex;
		flex-direction: row;
	}
	
	.codeBtn {
		padding: 0rpx 10rpx;
		margin-left: 20rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #FFFFFF;
		background-color: #FF8161;
		border-radius: 98rpx;
		height: 90rpx;
		width: 200rpx;
		margin-top: 5rpx;
	}
	
	.loginBtn {
		margin-top: 80rpx;
		border-radius: 98rpx;
		background-color: #FF8161;
		color: #FFFFFF;
		display: flex;
		justify-content: center;
		font-size: larger;
		align-items: center;
		height: 100rpx;
		width: 100%;
	}
</style>
