<template>
	<view>
		<!-- 名字 -->
		<view class="input" style="margin-top: 20rpx;">
			<u-icon name="account" size="50" class="icon"></u-icon>
			
			<input type="text" 
			v-model="name" 
			placeholder="您的称呼" 
			placeholder-style="font-size: large;" 
		    confirm-type="next" class="nameInput"/>
		</view>
		
		<!-- 电话 -->
		<view class="input">
			<u-icon name="phone" size="50" class="icon"></u-icon>
			
			<input type="number" 
			v-model="phone" 
			placeholder="联系电话" 
			@input="phoneInput"
			placeholder-style="font-size: large;"
			confirm-type="next"	class="nameInput"/>
		</view>
		
		<!-- 地址 -->
		<view class="input" style="justify-content: space-between;">
			
			<view style="display: flex;flex-direction: row;align-items: center;">
				<u-icon name="map" size="50" class="icon"></u-icon>
				
				<input @input="addrInput" 
				type="text" 
				v-model="address" 
				placeholder="您的送餐地址" 
				style="width: 480rpx;font-size: large;" 
				confirm-type="next" placeholder-style="font-size: large;" />
			</view>
			
			<image v-if="address.length!==0" src="../../static/image/clear.png" 
			mode="aspectFit" @click="clearAddress" class="clear"></image>
		</view>
		
		<!-- 搜索出来的地址结果 -->
		<view class="result-container" v-if="show===true" :style="{'top': result_top + 'px'}">
			<scroll-view scroll-y="true" style="height: 250rpx;">
				<block v-for="(item,index) in searchResultList" :key="index">
					
					<view class="search-result" @click="chooseAddr" :data-key="item.description">
						{{item.description}}
					</view>
					
				</block>
			</scroll-view>
		</view>
		
		<!-- 单元号 -->
		<view class="input">
			<u-icon name="home" size="50" class="icon"></u-icon>
			
			<input type="text" 
			v-model="unit" 
			placeholder="单元号 (选填)" 
			placeholder-style="font-size: large;"
			confirm-type="next"	class="nameInput"/>
		</view>
		
		<!-- 门禁密码 -->
		<view class="input">
			<u-icon name="lock-open" size="50" class="icon"></u-icon>
			
			<input type="text" 
			v-model="code" 
			placeholder="门禁密码 (选填)" 
			placeholder-style="font-size: large;"
			class="nameInput"/>
		</view>
		
		<!-- 地图 -->
		<view class="mapContainer">
			<map :latitude="latitude" 
			:longitude="longitude" 
			:markers="markers"
			:show-location="true" 
			class="map"></map>
		</view>
		
		<view class="redbtn" @click="addAddress">保存</view>
		
		<view v-if="addressInfo.id!==0" class="btn" @click="deleteAddress">删除地址</view>
		
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	import {AddrBook, ExistedAddrBook, getNewExistedAddrBook} from "@/module/AddrBook";
	import {AddressLogic} from "@/logic/AddressLogic";
	import {GlobalSetting} from "@/GlobalSetting";
	
	@Component({})
	export default class Address extends Vue{
		private globalSetting = GlobalSetting.getInstance();
		private addressLogic = AddressLogic.getInstance()
		private addressInfo: ExistedAddrBook = getNewExistedAddrBook()
		
		private name: string = ""
		private phone: string = ""
		private address: string = ""
		private unit: string = ""
		private code: string = ""
		private latitude: number = 0
		private longitude: number = 0
		private result_top: number = 0
		private show: boolean = false
		private markers: any = [{
				id: 100,
				latitude: 0,
				longitude: 0,
				height: 28,
				width: 28,
				iconPath: '../../static/image/location.png'}]
		private searchResultList = []
		
		onLoad(e: any){
			if(e.hasOwnProperty('addr')){
				// 更新地址
				this.addressInfo = JSON.parse(decodeURIComponent(e.addr));
				this.restoreAddrInfo()
				this.fetchAddressLatLng()
			}else{
				// 添加地址
				let latLng = this.globalSetting.getUserLatLng()
				this.latitude = latLng.lat
				this.longitude = latLng.lng
				this.setMapMarkers()
			}
			this.getNodesInfo()
		}
		
		addrInput(e: any){
			if(this.address.length > 0){
				this.searchAddress()
				this.show = true
			}else{
				this.show = false
			}
		}
		
		addAddress(){
			if(!this.checkVaildInfo()){
				return
			}
			
			uni.showLoading({
				title: 'Loading...'
			})
			
			if(this.addressInfo.id === 0){
				this.createAddrBook()
			}else{
				this.updateAddrBook()
			}
		}
		
		// 添加地址
		createAddrBook(){
			let addrBook: AddrBook = {
				name: this.name,
				tel: this.phone,
				address: this.address,
				unit: this.unit,
				buzz_code: this.code,
				is_default: 0
			}
			this.addressLogic.createAddrBook(addrBook)
			.then(e => {
				uni.hideLoading()
				this.showToast('新建成功')
			})
			.finally(() => this.goBack())
		}
		
		// 更新地址
		updateAddrBook(){
			let addrBook = {
				cid: this.globalSetting.getUser().cid,
				id: this.addressInfo.id,
				name: this.name,
				tel: this.phone,
				address: this.address,
				unit: this.unit,
				buzz_code: this.code,
				is_default: 0
			}
			this.addressLogic.updateAddrBook(addrBook)
			.then(e => {
				uni.hideLoading()
				this.showToast('更新成功')
			})
			.finally(() => this.goBack())
		}
		
		deleteAddress(){
			uni.showLoading({
				title: 'Loading...'
			})
			
			this.addressLogic.deleteAddrBook(this.addressInfo.id)
			.then(() =>{
				uni.hideLoading()
				this.showToast('删除成功')
			})
			.finally(() => this.goBack())
		}
		
		searchAddress() {
			this.addressLogic.searchAddress(this.address)
			.then(e => {
				this.searchResultList = this.addressLogic.getSearchResult()
			})
		}
		
		fetchAddressLatLng(){
			this.addressLogic.fetchAddressLatLng(this.address)
			.then(e => {
				// @ts-ignore
				let coordinate = this.addressLogic.getAddrLatLng().customer_latlng.split(",")
				this.latitude = Number(coordinate[0])
				this.longitude = Number(coordinate[1])
				this.setMapMarkers()
			})
		}
		
		checkVaildInfo(){
			let result = true
			if (this.name.length === 0) {
				this.alert('请填写您的姓名')
				result = false
			} else if (this.phone.length === 0 || this.phone.length < 10) {
				this.alert('请输入正确的电话号码')
				result = false
			} else if (this.address.length === 0) {
				this.alert('请填写您的地址')
				result = false
			}
			return result
		}
		
		goBack(){
			setTimeout(function(){
				uni.navigateBack({
					delta: 1
				})
			}, 600)
		}
		
		showToast(msg: string){
			uni.showToast({
				title: msg,
				duration: 1000
			});
		}
		
		alert(msg: string){
			uni.showModal({
				title: '提示',
				content: msg,
				showCancel: false
			})
		}
		
		chooseAddr(e: any) {
			// console.log(e);
			this.address = e.currentTarget.dataset.key;
			this.show = false;
		}
		
		clearAddress(){
			this.address = ""
		}
		
		//格式化电话号码
		phoneInput(){
			this.phone = this.phone.replace(/(\d{3})(\d{3})(\d{4})/, "($1)$2-$3");
		}
		
		restorePhone(phone: string) {
			return phone.replace(/[^\d]/g, "");
		}
		
		restoreAddrInfo(){
			this.name = this.addressInfo.name;
			this.phone = this.addressInfo.tel;
			this.address = this.addressInfo.address;
			this.unit = this.addressInfo.unit;
			this.code = this.addressInfo.buzz_code;
			this.phoneInput()
		}
		
		setMapMarkers(){
			this.markers[0].latitude = this.latitude
			this.markers[0].longitude = this.longitude
		}
		
		getNodesInfo() {
			const query = uni.createSelectorQuery().in(this);
			query.selectAll('.input').boundingClientRect(res => {
				// console.log(res)
				let rel = [];
				// @ts-ignore
				for (var i = 0; i < res.length; i++) {
					// @ts-ignore
					rel.push(res[i].top);
				}
				// console.log(rel)
				this.result_top = rel[2] + 50;
				// console.log(this.result_top);
			}).exec();
		}
		
	}
</script>

<style>
	.clear{
		height: 40rpx;width: 40rpx;padding-right: 20rpx;
	}
	
	.map{height: 250px;width: 90%;}
	
	.mapContainer{
		display: flex; justify-content: center;margin-top: 30rpx;padding-bottom: 100rpx;flex-shrink: 0;
	}
	
	.nameInput{font-size: large;width: 550rpx;}
	
	.input {
		display: flex;
		flex-direction: row;
		border-radius: 98rpx;
		/* box-shadow: 0px 0px 5px 2px #DDDDDD; */
		background-color: #F5F5F5;
		padding: 10rpx;
		margin: 10rpx 30rpx;
		height: 90rpx;
		align-items: center;
		margin-top: 20rpx;
	}
	
	.icon {
		padding: 10rpx 20rpx;
		display: flex;
		align-items: center;
	}
	
	.redbtn {
		font-size: larger;
		position: fixed;
		bottom: 110rpx;
		left: 20rpx;
		right: 20rpx;
		height: 90rpx;
		color: #FFFFFF;
		background-color: #ff8161;
		border-radius: 98rpx;
		box-shadow: 0px 0px 5px 2px #DDDDDD;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	
	.btn {
		font-size: larger;
		position: fixed;
		bottom: 20rpx;
		left: 20rpx;
		right: 20rpx;
		height: 90rpx;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	
	.result-container {
		position: fixed;
		height: 250rpx;
		right: 0;
		left: 0;
		z-index: 1000;
		background-color: #FFFFFF;
		padding: 0rpx 40rpx;
	}
	
	.search-result {
		display: flex;
		align-items: center;
		line-height: 40rpx;
		height: 80rpx;
		/* font-size: large; */
		border-bottom: 1rpx solid #ECECEC;
		color: #AAAAAA;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
</style>
