<template>
	<view class="card" @click="gotoInfo(orderInfo.order_id)">
		<view class="top">
			<view class="row" style="align-items: center;">
				<image :src="orderInfo.shop_thumb" :lazy-load="true" mode="aspectFill" class="img"></image>
				<text class="name">{{orderInfo.shop_name}}</text>
			</view>
			<text v-if="orderInfo.order_type == 'normal'" class="type">外卖配送</text>
			<text v-else-if="orderInfo.order_type == 'redeem'" class="type">到店自取</text>
		</view>
		
		<view class="container">
			<view class="left">
				<text class="text">订单编号:   {{orderInfo.order_id}}</text>
				<text class="text" style="margin: 15rpx 0rpx;">下单时间:   {{orderInfo.order_time}}</text>
				<view class="row">
					<!-- 订单状态 -->
					<text class="text">订单状态:   {{getOrderStatus(orderInfo.status)}}</text>
					
					<view class="row" v-if="show_payment_status(orderInfo.payment_type, orderInfo.status)">
						<!-- 分隔号 -->
						<text class="separator">|</text>
						<!-- 支付状态 -->
						<text class="text">支付状态:   {{getPaymentStatus(orderInfo.payment_status)}}</text>
					</view>
				</view>
			</view>
			
			<view class="right">
				<text class="price">${{orderInfo.order_total}}</text>
				<text class="info">订单详情 ></text>
			</view>
		</view>
	</view>
</template>

<script lang="ts">
	import {Component, Vue, Prop, Watch} from "vue-property-decorator";
	import {OrderHistory} from "@/module/OrderHistory";
	
	@Component({})
	export default class OrderListCell extends Vue{
		@Prop() orderInfo!: OrderHistory
		
		// mounted(){
		// 	console.log(this.orderInfo)
		// }
		
		gotoInfo(order_id: number){
			this.$emit('gotoInfo', order_id)
		}
		
		getOrderStatus(status: number){
			switch (status) {
			    case -30:
			        return "拼单";
			    case -20:
			        return "预订单";
			    case -10:
			        return "待兑换";
			    case -1:
			        return "已取消";
			    case 0:
			        return "进行中";
			    case 1:
			        return "等待付款";
			    case 10:
			        return "已确认";
				case 11:
				    return "出餐中";
				case 12:
				    return "已取餐";
				case 15:
				    return "出餐中";
				case 20:
				    return "已完成";
			} 
		}
		
		getPaymentStatus(status: number){
			if(status === -1 || status === 0){
				return '未支付'
			}else if(status === 10){
				return '预支付'
			}else if(status === 20){
				return '已支付'
			}else if(status === 30){
				return '退款'
			}else if(status === 99){
				return '支付失败'
			}
		}
		
		show_payment_status(payment_type: string, status: number){
			let result;
			if(payment_type === "cashpay"){
				result = false
			}else if(status === 20 || status === -1){
				result = false
			}else{
				result = true
			}
			return result;
		}
		
	}
</script>

<style>
	.separator{
		margin: 0rpx 10rpx;color: #F0F0F0;
	}
	.container{
		display: flex;
		flex-direction: row;
		padding: 30rpx;justify-content: space-between;
	}
	.info{
		font-size: small;
		font-weight: 300;
		color: #999;
	}
	.right{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.price{
		font-size: large;
		font-weight: bold;
		white-space: nowrap;
	}
	.text{
		font-size: smaller;
		font-weight: 300;
		white-space: nowrap;
	}
	.left{
		display: flex;
		flex-direction: column;
	}
	.type{
		white-space: nowrap;
		color: #999999;
		font-weight: 300;
	}
	.name{
		margin-left: 20rpx;
		width: 400rpx;
		padding: 0rpx 10rpx;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-weight: 500;
	}
	.img{
		height: 70rpx;
		width: 70rpx;
		border-radius: 50rpx;
	}
	.top{
		background-color: #F5F5F5;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		border-top-left-radius: 10rpx;
		border-top-right-radius: 10rpx;
		padding: 10rpx 20rpx;
	}
	.card{
		margin: 40rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
		display: flex;
		flex-direction: column;
		border-radius: 10rpx;
	}
</style>
