<template>
	<view class="card">
		<!-- 图片 -->
		<view class="img" style="position: relative;">
			<image mode="aspectFill" :src="shopInfo.thumb==='' ? errorImage : shopInfo.thumb" 
			@error="handleError(shopInfo.thumb)" :lazy-load="true" class="img"></image>
			
			<view v-if="shopInfo.open !== 1" class="shop-closed-div">
				<image src="../static/image/shop_closed.png" mode="aspectFill" class="shop_closed_img"></image>
			</view>
		</view>
		
		<view style="padding: 10rpx 20rpx;">
			<!-- 店家名字 -->
			<text class="shopName">{{shopInfo.name}}</text>
			
			<view class="infoContainer">
				
				<!-- 距离和出餐时间 -->
				<view class="row">
					<text class="small">起送: ${{shopInfo.min_amount}}</text>
					<view class="Delimiter">|</view>
					<text class="small">平均出餐时间: {{shopInfo.cooking_minutes}}m</text>
				</view>
				
				<text class="small">{{km}}KM</text>
			</view>
			
			<!-- 店家所在城市以及营业时间 -->
			<view class="infoContainer1">
				<u-icon name="map-fill" size="33"></u-icon>
				<view class="small">{{shopInfo.city}}</view>
				<view class="Delimiter">|</view>
				<text class="small">营业时间 {{shopInfo.today_open_time}}</text>
			</view>
				
		</view>
		
		<!-- 商家标签 -->
		<view class="tagContainer">
			<view v-for="(tagitem, tagindex) in shopInfo.tags" :key="tagindex">
				<view class="tag" :style="{'color': tagitem.color, 'background-color': colorToRGB(tagitem.color, 0.1)}">
				{{tagitem.tag}}</view>
			</view>
		</view>
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	import {GlobalSetting} from "@/GlobalSetting";
	import {Shop} from "@/module/Shop";
	
	@Component({})
	export default class RestaurantCard extends Vue{
		@Prop() private km!:number
		@Prop() private index!:number
		@Prop() private shopInfo!: Shop
		
		private errorImage: string = '../static/image/error.png'
		
		mounted(){
			// console.log(this.shopInfo)
		}
		
		handleError(img: string){
			img = this.errorImage
			this.$forceUpdate
			this.$emit('imgLoadFail', this.index)
		}
		
		colorToRGB(val: any, opa: any) {
			return GlobalSetting.getInstance().colorToRGB(val, opa)
		}
		
	}
</script>

<style>
	
	.shop-closed-div {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background-color: black;
	  opacity: 0.65;
	}
	
	.shop_closed_img{
	  position: relative;
	  top: 50rpx;
	  height: 200rpx;
	  width: 200rpx;
	  left: 250rpx;
	}
	
	.infoContainer1{
		display: flex;
		flex-direction: row;
		margin-top: 7rpx;color: #999999;
	}
	
	.infoContainer{
		justify-content: space-between;margin-top: 15rpx;
		display: flex;
		flex-direction: row;
	}
	
	.tagContainer{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;padding-bottom: 20rpx;
	}
	
	.card{
		display: flex;
		flex-direction: column;
		box-shadow: 0px 0px 5px 2px #DDDDDD;
		border-radius: 10rpx;
		margin: 40rpx 30rpx;
	}
	
	.img{
		height: 300rpx;
		width: 100%;
		border-top-left-radius: 10rpx;
		border-top-right-radius: 10rpx;
		object-fit: cover;
	}
	
	.gray {
	    -webkit-filter: grayscale(100%);
	    -moz-filter: grayscale(100%);
	    -ms-filter: grayscale(100%);
	    -o-filter: grayscale(100%);
	    filter: grayscale(100%);
	    filter: gray;
		height: 300rpx;
		width: 100%;
		border-top-left-radius: 10rpx;
		border-top-right-radius: 10rpx;
	}
	
	.shopName{
		font-weight: 600;
	}
	
	.Delimiter{
		margin-top: 5rpx;
		color: #999999;
		margin: 0rpx 10rpx;
		font-size: x-small;
	}
	
	.small{
		/* color: #999999; */
		font-size: smaller;
		font-weight: 300;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.tag{
		padding: 5rpx 14rpx;
		font-weight: 200;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: x-small;
		white-space: nowrap;
		margin-left: 10rpx;
		border-radius: 98rpx;
		margin-top: 8rpx;
	}
	
</style>
