<template>
	<view class="abs" @click="doSearch()">
		<image :src="src" @error="ImageLoadFailed()" mode="aspectFill" class="image"></image>
		<view class="imageText">{{category}}</view>
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Vue, Watch} from "vue-property-decorator";
	 
	@Component({})
	export default class SearchCategoryCell extends Vue{
		@Prop() private category!:string
		@Prop() private src!:string
		@Prop() private index!:number
		
		// @Watch('src') checksrc(newValue:string, oldValue:string){
		// 	console.log(newValue, oldValue);
		// }
		
		doSearch(){
			this.$emit('doSearch', this.category)
		}
		
		ImageLoadFailed(){
			this.$emit('ImageLoadFailed', this.index)
		}
		
	}
</script>

<style>
	
	.image{
		border-radius: 15rpx;
		height: 250rpx;
		width: 345rpx;
	}
	
	.abs{
		position: relative;
		padding: 10rpx 2rpx;
		width: 345rpx;
		height: 270rpx;
	}
	
	.imageText{
		position: relative;
		z-index: 10;
		bottom: 70rpx;
		left: 38%;
		color: #FFFFFF;
		font-size: larger;
		width: fit-content;
	}
	
</style>
