<template>
	<view style="padding: 10rpx 20rpx;">
		
		<Loading v-if="loading"></Loading>
		
		<u-search @click="goSearch()" placeholder="搜索" disabled="true" :show-action="false"></u-search>
		
		<view v-if="loginStatus" class="sticky">订餐历史</view>
		
		<!-- 横向滑动卡片 -->
		<scroll-view v-if="loginStatus" class="scroll-view_H" scroll-x="true">
			<view v-for="(item, index) in orderHistory" :key="index" @click="chooseStore(item.shop_id)" class="scroll-view-item">
				<image class="img" :src="item.shop_thumb==='' ? errorImage : item.shop_thumb"></image>
		
				<text class="title">
					{{item.shop_name}}</text>
			</view>
		</scroll-view>
		
		<view class="sticky">热门搜索</view>
		
		<view class="tag">
			<view v-for="(item, index) in hotSearch" :key="index" class="hotSearchItem" @click="clickHotSearch(index)">{{item}}</view>
		</view>
		
		
		<view class="sticky">菜品分类</view>
		
		<view class="SearchCategoryCell">
			<SearchCategoryCell v-for= "(src, index) in imageList" :key = "index"
			:src = "src" 
			:category = "categoryList[index]"
			:index = "index"
			@ImageLoadFailed = "ImageLoadFailed"
			@doSearch = "doSearch"/>
		</view>

	</view>
</template>

<script lang="ts">
	import {Component, Vue, Watch} from "vue-property-decorator";
	import Loading from '@/components/Loading.vue';
	import SearchCategoryCell from '@/components/SearchCategoryCell.vue';
	import {imageList, categoryList} from "@/module/SearchCategoryImage";
	import {SearchLogic} from "@/logic/SearchLogic";
	import {OrderHistory} from "@/module/OrderHistory";
	 
	@Component({
	    components: {
	      Loading,
		  SearchCategoryCell
	    }
	})
	export default class Search extends Vue{
		
		private searchLogic = SearchLogic.getInstance()
		
		private loading: boolean = false
		private loginStatus: boolean = false
		private errorImage: string =  '../static/image/error.png'
		private hotSearch: string[] = ['gongcha', 'sushi', '奶茶', '炸鸡', '米线', '粥', '蛋糕', '鸭脖', '麻辣烫', '黄焖鸡']
		private categoryList: string[] = categoryList
		private imageList: string[] = imageList
		private orderHistory: OrderHistory[] = [];
		
		onLoad(){
			this.loginStatus = this.searchLogic.isLogin()
			this.loginStatus ? this.getOrderHistory() : ""
		}
		
		clickHotSearch(index: number){
			uni.navigateTo({
				url: '../../pagesA/SearchResult/SearchResult?content=' + this.hotSearch[index]
			})
		}
		
		getOrderHistory(){
			this.loading = true
			this.searchLogic.fetchOrderHistory()
			.then(res => {
				this.orderHistory = this.searchLogic.getFinishedOrderList()
				this.loading = false
			})
		}
		
		goSearch(){
			uni.navigateTo({
				url: '../../pagesA/SearchResult/SearchResult?search=' + true,
			});
		}
		
		doSearch(content: string){
			uni.navigateTo({
				url: '../../pagesA/SearchResult/SearchResult?content=' + content
			})
		}
		
		ImageLoadFailed(index: number){
			this.imageList[index] = this.errorImage
			this.$forceUpdate()
		}
		
		chooseStore(mid: number){
			uni.navigateTo({
				url: '../menu/menu?mid=' + mid,
			});
		}
		
	}
</script>

<style>
	
	.scroll-view_H {
		white-space: nowrap;
		overflow: hidden;
		height: 160rpx;
	}
	
	.scroll-view-item {
		width: 120rpx;
		height: 160rpx;
		display: inline-block;
		margin-right: 40rpx;
		vertical-align: top;
		align-items: center;
	}
	
	.scroll-view-item:last-child {
		margin-right: 0;
	}
	
	.img {
		width: 120rpx;
		height: 120rpx;
		border-radius: 35rpx;
	}
	.title{
		text-align: center;
		width: 120rpx;
		font-size: x-small;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		white-space: normal;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.title{
		text-align: center;
		width: 120rpx;
		font-size: x-small;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		white-space: normal;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.tag{
		flex-shrink: 0;
		display: flex;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
	}
	
	.hotSearchItem{
		border-radius: 15rpx;
		background-color: #F0F0F0;
		padding: 10rpx 15rpx;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		font-size: small;
		margin: 8rpx 10rpx;
		white-space: nowrap;
	}
	
	.sticky{
		margin-top: 40rpx;
		margin: 10rpx 0rpx;
		margin-top: 30rpx;
		font-weight: 300;
		font-size: small;
		position: sticky;
		width: 100%;
		left: 0;
		right: 0;
		top: 0;
		background-color: #FFFFFF;
		z-index: 20;
	}
	
	.SearchCategoryCell{
		display: flex;
		flex-direction: row;
		/* width: 94%; */
		flex-wrap: wrap;
		justify-content: space-between;
	}
</style>
