<template>
	<view>
	  <web-view :src="become_driver_url"></web-view>
	</view>
</template>

<script lang="ts">
	export default {
		data() {
			return {
				become_driver_url: 'https://wechat.foodhwy.com/driver_register/register',
			};
		}
	}
</script>

<style>

</style>
