<template>
	<view>
		
		<view v-if="couponGroup.coupons.length !== 0" class="couponTypeContainer" >
			<view class="groupNameContainer">
				<image :src="getImageSrc(couponGroup.discount_group)" mode="aspectFill" class="coupon_icon"></image>
				<text class="desc">{{couponGroup.desc}}</text>
			</view>
			
			<image v-if="!Switch" @click="changeSwitch" class="logo" src="../static/image/goup.png" mode="scaleToFill"></image>
			
			<image v-if="Switch && couponGroup.discount_group!=='internal_discount'" @click="changeSwitch" 
			class="logo" src="../static/image/godown.png" mode="scaleToFill"></image>
		</view>
		
		<radio-group style="margin-bottom: 50rpx;padding-top: 20rpx;">
			<label v-for="(coupon, index) in couponGroup.coupons" @click="!fromPayment ? '' : optionRadioChange(index, coupon)" :key="index">
				
				<view v-if="couponGroup.discount_group==='internal_discount'" class="internal_discount">
					<view class="col" style="width: 85%;">
						<text style="font-size: large;">{{coupon.title}}</text>
						
						<view class="internal_discountText">{{coupon.rule_desc}}</view>
					</view>
					
					<image src="../static/image/lock.png" mode="scaleToFill" class="internal_discount_img"></image>
				</view>
				
				<CouponCell v-if="couponGroup.discount_group!=='internal_discount' && Switch"
				:coupon = "coupon"
				:couponColor = "getCouponColor(couponGroup.discount_group)"
				:fromPayment = "fromPayment"/>
				
			</label>
		</radio-group> 
		
	</view>
</template>

<script lang="ts">
	import {Component, Vue, Watch, Prop} from "vue-property-decorator";
	import {GlobalSetting} from "@/GlobalSetting";
	import {
	    Coupon,
	    CouponListElement,
	    CouponResult, Discount,
	    DiscountGroup,
	    ValidationResult
	  } from "@/module/Coupon";
	import CouponCell from "./CouponCell.vue";
	
	@Component({
		components: {
		  CouponCell
		}
	})
	export default class CouponGroup extends Vue{
		@Prop() private couponGroup!: CouponListElement
		@Prop() private fromPayment!: boolean
		@Prop() private groupIndex!: number
		
		private Switch: boolean = true
		
		optionRadioChange(index: number, coupon: Coupon){
			uni.showLoading({
			    title: 'Loading'
			});
			this.$emit('optionRadioChange', {
				groupIndex: this.groupIndex,
				couponIndex: index
			})
		}
		
		changeSwitch(){
			this.Switch = !this.Switch
		}
		
		getCouponColor(group: string){
			switch (group) {
			  case "normal_discount":
			    return "#FF5722";
			  case "member_discount":
			    return "#F5CA13";
			  case "overlap_discount":
			    return "#78E0DC";
			}
		}
		
		getImageSrc(group: string){
			switch (group) {
			  case "internal_discount":
			    return "../static/image/internal_discount.png";
			  case "normal_discount":
			    return "../static/image/normal_discount.png";
			  case "member_discount":
			    return "../static/image/member_discount.png";
			  case "overlap_discount":
			    return "../static/image/overlap_discount.png";
			}
		}
		
	}
</script>

<style>
	
	.internal_discount_img{height: 40rpx;width: 40rpx;flex-shrak: 0}
	
	.internal_discountText{
		font-size: smaller;
		color: #999999;
		font-size: xx-small;padding-top: 8rpx;width: 500rpx;
	}
	
	.internal_discount{
		position: relative;
		overflow: hidden;
		margin-top: 20rpx;
		padding: 20rpx 30rpx;
		display: flex;flex-direction: row;justify-content: space-between;align-items: center;
		border-radius: 20rpx;
		box-shadow: 0px 0px 1px 2px #F0F0F0;
		background-color: #F3F4F6;
	}
	
	.logo{
		height: 50rpx;
		width: 50rpx;
	}
	
	.coupon_icon{
		height: 40rpx;
		width: 40rpx;
	}
	
	.desc{
		margin-left: 10rpx;font-size: large;
	}
	
	.couponTypeContainer{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		/* margin-top: 60rpx; */
	}
	
	.groupNameContainer{
		display: flex;
		flex-direction: row;
		align-items: center;
	}
</style>
