<template>
	<view class="cont" @click="fromPayment ? chooseCreditCard() : ''">
		<image v-if="creditCard.type === 'visa'" src="../static/image/visaLogo.png" mode="aspectFit" class="icon"></image>
		<image v-else-if="creditCard.type === 'amex'" src="../static/image/amex.png" mode="aspectFit" class="icon"></image>
		<image v-else-if="creditCard.type === 'master'" src="../static/image/master.jpg" mode="aspectFit" class="icon"></image>
		
		<text class="num">**** **** **** {{creditCard.card_no.slice(-4)}}</text>
		<image @click.stop="deleteCard()" src="../static/image/close.png" mode="aspectFit" 
		class="img"></image>
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	import {CreditCard} from "@/module/CreditCard";
	
	@Component({})
	export default class CreditCardCell extends Vue{
		@Prop() creditCard!: CreditCard
		@Prop() fromPayment!: boolean
		
		chooseCreditCard(){
			this.$emit('chooseCreditCard', this.creditCard)
		}
		
		deleteCard(){
			uni.showModal({
				title: '删除信用卡',
				content: '信用卡删除后不能恢复，确定删除信用卡吗？',
				confirmColor: '#FF8161',
				showCancel: true,
				success: res => {
					if (res.confirm) {
						this.$emit('deleteCard', this.creditCard.id)
					}
				}
			});
		}
		
	}
</script>

<style>
	.num{
		white-space: nowrap;
		/* margin: 0rpx 50rpx; */
	}
	
	.icon{
		height: 80rpx;
		width: 200rpx;
	}
	
	.img{
		width: 30rpx;height: 30rpx;
	}
	
	.cont{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		height: 175rpx;
		margin: 25rpx 40rpx;
		margin-top: 30rpx;
		border-radius: 15rpx;
		box-shadow: 0px 0px 5px 2px #DDDDDD;
	}
</style>
