<template>
	<!-- 产品内容 -->
	<view class="card" style="padding-bottom: 0rpx;">
		
		<view v-for="(item, index) in orderItems" :key="index" class="container">
			
			<!-- 显示菜品 -->
			<view class="cartItem">
				<view class="row" style="align-items: center;">
					<view class="qty">{{item.qty}}</view>
					<text class="name">{{item.name}}</text>
				</view>
				<view>${{item.price}}</view>
			</view>
			
			<!-- 显示菜品的自由选项 -->
			<view v-for="(ite, ind) in item.options" :key="ind">
				<view v-for="(it, i) in ite.items" :key="i">
					<view class="option">
						{{it.name}} × {{it.qty}}( ${{it.price*it.qty}} )
					</view>
				</view>
			</view>
			
			<!-- 显示菜品备注 -->
			<text v-if="item.note" class="note">{{item.note}}</text>
			
		</view>
		
		<view class="input">{{note === "" ? '无备注' : note}}</view>
		
	</view>
</template>

<script lang="ts">
	import {Component, Vue, Prop, Watch} from "vue-property-decorator";
	import {Product} from "@/module/Product";
	
	@Component({})
	export default class OrderProductInfo extends Vue{
		@Prop() private orderItems!: Product[]
		@Prop() private note!: string
		
		
	}
</script>

<style>
	.name{
		margin-left: 10rpx;width: 450rpx;
	}
	.option{
		font-weight: 300;font-size: small;padding: 3rpx;
	}
	.note{
		font-weight: 300;font-size: small;padding-top: 8rpx;width: 80%;word-wrap: break-word;
	}
	.input{
		margin-top: 20rpx;
		padding: 20rpx 30rpx;
		background-color: #F5F5F5;
	}
	.qty{
		background-color: #FF8161;
		color: #FFFFFF;
		border-radius: 6rpx;
		width: 30rpx;
		height: 30rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: small;
	}
	.cartItem{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-top: 15rpx;
	}
	.card{
		margin: 40rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
		display: flex;
		flex-direction: column;
		border-radius: 10rpx;
	}
	.container{
		padding: 10rpx 30rpx; padding-top: 20rpx;
	}
</style>
