<template>
	<!-- 产品内容 -->
	<view class="topcard" style="padding-bottom: 0rpx;">
		<view class="barContainer">
			<view class="shopName">{{shopName}}</view>
			<text class="addMore" @click="addMore">添加商品</text>
		</view>
		
		<view class="productContainer">
			<view v-for="(item, index) in cart" :key="index" style="padding-bottom: 20rpx;">
				
				<!-- 显示菜品 -->
				<view class="cartItem">
					<view class="row" style="align-items: center;">
						<!-- 菜品数量 -->
						<view class="qty">{{item.qty}}</view>
						<!-- 菜品名字 -->
						<text style="margin-left: 10rpx;width: 450rpx;">{{item.product_name}}</text>
					</view>
					
					<!-- 菜品价格 -->
					<view v-if="item.row_total!=item.org_row_total" class="priceContainer">
						<view style="font-size: small;">${{item.row_total.toFixed(2)}}</view>
						<view class="org_row_total">${{item.org_row_total.toFixed(2)}}</view>
					</view>
					<view v-else>${{item.row_total.toFixed(2)}}</view>
				</view>
				
				<!-- 显示菜品的自由选项 -->
				<view v-for="(ite, ind) in item.options" :key="ind">
					<view v-for="(it, i) in ite.items" :key="i">
						<view v-if="it.checked == 1" class="option">
							{{it.name}} × {{it.qty}} ( ${{(it.price*it.qty).toFixed(2)}} )
						</view>
					</view>
				</view>
				
				<!-- 显示菜品备注 -->
				<view v-if="item.note" class="note">{{item.note}}</view>
				
			</view>
		</view>
		
		<input class="input" v-model="note" type="text" placeholder="Add a note (extra napkins, extra sauce...)" 
		placeholder-style="color: #999999;font-weight: 300;" />
		
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	import {Product} from "@/module/Product";
	import {CartLogic} from "@/logic/CartLogic";
	
	@Component({})
	export default class PaymentProductInfo extends Vue{
		@Prop() cart!: Product[] 
		
		private cartLogic: CartLogic = CartLogic.getInstance();
		private shopName: string = this.cartLogic.getShopDetail().name
		private note: string = ""
		
		@Watch('cart') watchCart(newVal: Product[]){
			// console.log(newVal)
		}
		
		@Watch('note') watchNote(newVal: string){
			this.setOrderNote()
		}
		
		setOrderNote(){
			this.$emit('setOrderNote', this.note)
		}
		
		addMore(){
			uni.navigateBack({
				delta: 2
			})
		}
		
	}
</script>

<style>
	
	.note{
		font-weight: 300;font-size: small;padding-top: 8rpx;width: 80%;word-wrap: break-word;color: #999999;
	}
	
	.option{
		font-weight: 300;font-size: small;padding: 3rpx;
	}
	
	.org_row_total{
		font-size: smaller;text-decoration: line-through;color: #999999;
	}
	
	.priceContainer{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.input{
		padding: 20rpx 30rpx;
		background-color: #F5F5F5;
	}
	
	.qty{
		background-color: #FF8161;
		color: #FFFFFF;
		border-radius: 6rpx;
		width: 30rpx;
		height: 30rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: smaller;
	}
	
	.cartItem{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		/* font-weight: 300; */
	}
	
	.productContainer{
		padding: 10rpx 30rpx; padding-top: 20rpx;
	}
	
	.addMore{
		color: #FF8161;white-space: nowrap;
	}
	
	.shopName{
		font-size: larger;font-weight: 400;white-space: nowrap;overflow: hidden;
		text-overflow: ellipsis;width: 70%;
	}
	
	.barContainer{
		display: flex;
		flex-direction: row;
		justify-content: space-between;background-color: #F5F5F5;padding: 20rpx 30rpx;
	}
	
	.topcard{
		margin: 40rpx 30rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
		display: flex;
		flex-direction: column;
		border-radius: 10rpx;
		padding-bottom: 0rpx;
	}
</style>
