<template>
	<view class="card">
		<view class="barContainer">
			<view>送餐地址</view>
			<view class="changeAddress" @click="changeAddress">
				<view class="chooseAddr">选择其他地址</view>
				<image src="../static/image/right.png" class="rightArrow" mode="aspectFill"></image>
			</view>
		</view>
		
		<!-- 顾客的送餐地址 -->
		<view class="font">
			<view class="col">
				
				<!-- 地址 -->
				<view class="addr">{{contact.addr}}</view>
				
				<!-- 电话 -->
				<view class="tel">{{contact.tel}}</view>
				
				<!-- 地图 -->
				<map v-if="showMap" class="map" :include-points="inPoints" :markers="markers" scale="20" :polyline="polyline"></map>
				
				<!-- 送达时间 -->
				<view v-if="expectant_delivered_at!=='--'" class="arriveTime">
					<text class="title">预计送达:</text>
					<view class="deliveredTime">{{expectant_delivered_at}}</view>
				</view>
				
				<view class="deliveryContainer" @click="setDeliveryNote">
					<text class="title">配送要求</text>
					<view class="row" style="align-items: center;">
						<text class="deliveryNote">{{deliveryNote}}</text>
						<image src="../static/image/right.png" class="rightArrow" mode="aspectFill"></image>
					</view>
				</view>
				
			</view>
		</view>
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	import {GlobalSetting} from "@/GlobalSetting";
	import {Contact} from "@/module/Contact";
	import {ShopDetail} from "@/module/ShopDetail";
	
	const googlePolyline = require('google-polyline');
	
	@Component({})
	export default class PaymentDeliveryInfo extends Vue{
		@Prop() expectant_delivered_at!: string
		@Prop() shopDetail!: ShopDetail
		@Prop() shipping_directions!: any
		@Prop() deliveryNote!: string
		
		private globalSetting: GlobalSetting = GlobalSetting.getInstance();
		private contact: Contact = this.globalSetting.getContact();
		private latLon = this.globalSetting.getUserLatLng();
		private showMap: boolean = false
		
		private inPoints: any = []
		private markers: any = [{
			id: 1,
		    latitude: 0,//纬度 
		    longitude: 0,//经度
		    iconPath: '../static/image/userMap.png',		
		}, {
			id: 2,
		    latitude: 0,//纬度
		    longitude: 0,//经度
		    iconPath: '../static/image/merchanMap.png',
		}]
		//指定一系列坐标点，从数组第一项连线至最后一项
		private polyline: any= [{
							points:[],
							color: "#FF8161",//线的颜色
							width: 5,//线的宽度
						}]
						
		@Watch('shipping_directions') watchshipping_directions(newValue:object){
			// console.log(newValue);
			this.inPoints = [
				{latitude: this.shipping_directions.start_address_lat, longitude: this.shipping_directions.start_address_lng},
				{latitude: this.shipping_directions.end_address_lat, longitude: this.shipping_directions.end_address_lng}
			]
			
			// // 用户标记点
			this.markers[1].latitude = this.shipping_directions.start_address_lat
			this.markers[1].longitude = this.shipping_directions.start_address_lng
			
			// // 商家标记点
			this.markers[0].latitude = this.shipping_directions.end_address_lat
			this.markers[0].longitude = this.shipping_directions.end_address_lng
			this.getPolyLine() 
		}
		
		mounted(){
			// this.getPolyLine()
		}
		
		setDeliveryNote(){
			this.$emit('openNotePopup', true)
		}
		
		changeAddress(){
			uni.navigateBack({
				delta: 1
			})
		}
		
		// 获取polyline
		getPolyLine(){
			// console.log(this.shipping_directions)
			// polyline解码获取连线坐标
			var latlngs = googlePolyline.decode(this.shipping_directions.polyline);
			// console.log(latlngs)
			var polyLineArray = [];
			for (let i = 0; i < latlngs.length; i++) {
				polyLineArray[i] = {latitude: latlngs[i][0],longitude: latlngs[i][1]}
			}
			// @ts-ignore
			this.polyline[0].points = polyLineArray
			// console.log(this.polyline)
			this.showMap = true
		}
		
		
	}
</script>

<style>
	
	.deliveredTime{
		font-size: small;
		color: #999999;
		font-weight: 300;
		margin-left: 30rpx;
	}
	
	.deliveryNote{
		font-size: small;
		color: #999999;
		font-weight: 400;
		margin-right: 15rpx;
		width: 420rpx;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	.deliveryContainer{
		padding: 15rpx 0rpx;
		border-top: 0.5px solid #F0F0F0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	
	.title{
		font-size: small;
		font-weight: bold;
	}
	
	.card{
		margin: 40rpx 30rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
		display: flex;
		flex-direction: column;
		border-radius: 10rpx;
		padding: 20rpx 30rpx;
	}
	
	.arrived{
		margin-left: 50rpx;
		font-size: small;
		color: #999999;
		font-weight: 300;
	}
	
	.arriveTime{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 30rpx;
		padding-bottom: 15rpx;
	}
	
	.map{
		width: 100%; height: 400rpx;
	}
	
	.tel{
		font-size: small;color: #999999;font-weight: 300;padding: 10rpx;
	}
	
	.addr{
		font-size: large;font-weight: 500;padding-top: 20rpx;
	}
	
	.font{
		font-size: large;font-weight: bold;
	}
	
	.rightArrow{
		margin-left: 15rpx;
		border-radius: 100rpx;
		height: 40rpx;
		width: 40rpx;
	}
	
	.changeAddress{
		display: flex;flex-direction: row;align-items: center;
	}
	
	.chooseAddr{
		font-size: small;color: #999999;
	}
	
	.barContainer{
		display: flex;flex-direction: row;
		justify-content: space-between;
		border-bottom: 0.5px solid #F0F0F0;
		height: 80rpx;align-items: center;
	}
	
	.outOfRange{
		font-size: large;font-weight: bold;padding: 20rpx 0rpx;
	}
</style>
