<template>
	<view class="card">
	
		<view class="text">小费</view>
		
		<u-subsection :list="tipsOption" :current="current" button-color="#eeeeef" style="width: 380rpx;"
		 active-color="#FF8161" @change="tipsChange"></u-subsection>
		 
		<input v-model="tipAmount" :class="[tipAmount!==''?'activeEditTip':'editTip']" type="digit" placeholder="Edit" @blur="tipInput"/>
		
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	
	@Component({})
	export default class PaymentTipsInfo extends Vue{ 
		
		private current: number = 1
		private tipAmount: string = ""
		private tipsOption: any = [ {name: '10%', rate: 0.1, persent: 10},
						{name: '15%', rate:0.15, persent: 15},
							{name:'20%', rate:0.2, persent: 20}]
		
		tipInput(e: any){
			if(this.tipAmount!==""){
				this.current = -1
				this.$emit('tipInput', e.detail.value)
			}
		}
		
		// 选择小费百分比
		tipsChange(index: number){
			this.tipAmount = ""
			this.current = index
			this.$emit('tipsChange', this.tipsOption[index].persent)
		}
		
	}
</script>

<style>
	
	.editTip{
		display: inline-block;
		text-align: center;
		font-weight: 300;
		background-color: #eeeeef;
		border-radius: 10rpx;
		height: 70rpx;
		width: 100rpx;
	}
	
	.activeEditTip{
		display: inline-block;
		text-align: center;
		font-weight: 300;
		background-color: #FF8161;
		color: #FFFFFF;
		border-radius: 10rpx;
		height: 70rpx;
		width: 100rpx;
	}
	
	.text{
		font-weight: 700;
		font-size: 32rpx;
	}
	
	.card{
		margin: 40rpx 30rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
		display: flex;
		flex-direction: row;
		border-radius: 10rpx;
		padding: 20rpx 30rpx;
		justify-content: space-around;
		align-items: center;
	}
</style>
