<template>
	<view class="card" @click="gotoMenu(shop.mid)">
		<view class="row">
			
			<!-- 左边图片 -->
			<image mode="aspectFill" @error="handleError()" :src="shop.thumb==='' ? errorImage : shop.thumb" :lazy-load="true"
			:class="[shop.open === 1 ? 'img' : 'gray']"></image>
			
			<!-- 右边信息 -->
			<view class="rightContainer">
				<!-- 店家名字 -->
				<text class="shopName">{{shop.name}}</text>
				
				<view class="infoContainer">
					<!-- 起送价格 -->
					<text class="small">起送: ${{shop.min_amount.toFixed(1)}}</text>
					
					<!-- 距离和出餐时间 -->
					<view class="row" style="align-items: center;">
						<text class="small">{{GetDistance(shop.lat, shop.lon)}} KM</text>
						<view class="Delimiter">|</view>
						<text class="small">{{shop.cooking_minutes}}min</text>
					</view>
				</view>
				
				<!-- 店家所在城市以及营业时间 -->
				<view class="row">
					<u-icon name="map-fill" size="33"></u-icon>
					<view class="infoContainer1">
						<view class="small">{{shop.city}}</view>
						<view class="Delimiter">|</view>
						<text class="small" style="overflow: hidden;">营业时间 {{shop.today_open_time}}</text>
					</view>
				</view>
				
				<!-- 商家标签 -->
				<view class="row" style="flex-wrap: wrap;">
					<view v-for="(tagitem, tagindex) in shop.tags" :key="tagindex">
						<view class="tag" :style="{'color': tagitem.color, 'background-color': colorToRGB(tagitem.color, 0.1)}">
						{{tagitem.tag}}</view>
					</view>
				</view>
				
			</view>
		</view>
		
		<!-- 符合关键字的商品展示 -->
		<!-- 横向滑动卡片 -->
		<scroll-view v-if="shop.products.length!==0" class="scroll-view_H" scroll-x="true">
			<view v-for="(item, index) in shop.products" :key="index" @click="chooseProduct(shop.mid, item.product_id)" class="scroll-view-item">
				<image mode="aspectFill" class="product_img"  :src="item.product_image==='' ? errorImage : item.product_image"></image>
		
				<text class="product_title">{{item.product_name}}</text>
				<text class="price">${{item.price}}</text>
			</view>
		</scroll-view>
	
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	import {GlobalSetting} from "@/GlobalSetting";
	import {Shop} from "@/module/Shop"
	
	@Component({})
	export default class SearchResultCell extends Vue{
		@Prop() private shop!: Shop
		
		private errorImage: string = '../../static/image/error.png'
		
		handleError(index: number){
			this.$emit('handleError', index)
		}
		
		chooseProduct(shopId: number, product_id: number){
			uni.navigateTo({
				url: '../../pages/menu/menu?mid=' + shopId + '&pid=' + product_id,
			});
		}
		
		gotoMenu(shopId: number){
			uni.navigateTo({
				url: '../../pages/menu/menu?mid=' + shopId,
			});
		}
		
		colorToRGB(val: any, opa: any) {
			return GlobalSetting.getInstance().colorToRGB(val, opa)
		}
		
		GetDistance(lat: number, lon: number){
			return GlobalSetting.getInstance().GetDistance(lat, lon)
		}
		
	}
</script>

<style>
	
	.price{
		color: #FF8161;margin-top: 8rpx;
	}
	
	.infoContainer1{ 
		display: flex;
		flex-direction: row;
		margin: 8rpx 0rpx;color: #999999;align-items: center;margin-left: 8rpx;overflow: hidden;
	}
	
	.infoContainer{
		justify-content: space-between;margin-top: 15rpx;
		display: flex;
		flex-direction: row;
	}
	
	.rightContainer{
		display: flex;
		flex-direction: column;
		margin-left: 20rpx;width: 70%;
	}
	
	.scroll-view_H {
		margin-top: 20rpx;
		white-space: nowrap;
		overflow: hidden;
		height: 195rpx;
	}
	
	.scroll-view-item {
		width: 120rpx;
		height: 160rpx;
		display: inline-block;
		margin-right: 40rpx;
		vertical-align: top;
		align-items: center;
	}
	
	.scroll-view-item:first-child {
		margin-left: 220rpx;
	}
	
	.scroll-view-item:last-child {
		margin-right: 0;
	}
	
	.product_img {
		width: 140rpx;
		height: 120rpx;
		border-radius: 35rpx;
	}
	.product_title{
		width: 120rpx;
		font-size: small;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		white-space: normal;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.Delimiter{
		/* margin-top: 5rpx; */
		color: #999999;
		margin: 0rpx 10rpx;
		font-size: x-small;
	}
	.small{
		font-size: smaller;
		font-weight: 300;
		white-space: nowrap;
	}
	.card{
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 30rpx 0rpx;
		border-bottom: #F0F0F0 0.5px solid;
	}
	.img{
		height: 160rpx;
		width: 200rpx;
		border-radius: 15rpx;
		flex-shrink: 0;
	}
	.gray {
	    -webkit-filter: grayscale(100%);
	    -moz-filter: grayscale(100%);
	    -ms-filter: grayscale(100%);
	    -o-filter: grayscale(100%);
	    filter: grayscale(100%);
	    filter: gray;
		height: 160rpx;
		width: 200rpx;
		border-radius: 15rpx;
		flex-shrink: 0;
	}
	.tag{
		padding: 5rpx 14rpx;
		font-weight: 200;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: x-small;
		white-space: nowrap;
		margin-left: 10rpx;
		border-radius: 98rpx;
		margin-top: 8rpx;
	}
	.row{
		display: flex;
		flex-direction: row;
	}
	.col{
		display: flex;
		flex-direction: column;
	}
	.shopName{
		font-weight: 600;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
	}
</style>
